<h1 ><span class="text-blue" style="font-weight: 700;">Just doing a bit of social experimentation</span></h1>
<p class="about">InstaFake is a social platform and experiment. I wanted to create a project similar that to Instagram. 
This site is not intended to compete with Instagram in any way, shape, or form. Just for shits and giggles, I wanted to
test my development chops to see if I could recreate an iconic social media platform.</p>

<p>Let's network and foster key social and business relationships with the broader community.</p>

<!--<h1 ><span class="text-blue" style="font-weight: 700;">History Lesson</span></h1>-->