<h1 ><span class="text-blue" style="font-weight: 700;">You Have Questions I Got Answers</span></h1>
<p class="faq"><b>What's the sense of creating this when I can just use Instagram?</b></p>
<p>I wanted to create a social networking app as a social experiment to see if people like my project and to see how fast people would join, post content, and share with others. This app was not intended
to compete with IG or other similar apps.</p>

<p class="faq"><b>How can I share this with others in my network?</b></p>
<p>For now, simply copy and paste the web address to share. Appreciate it!</p>

<p class="faq"><b>There's a link to support the site, how will the funds be used?</b></p>
<p>I know a guy who created Drakestagram for people who similarily like Drake and like to post his song quotes on their IG. 
He created a site that aggragated Drake quotes directly to your phone based off of a search word. The site gained momentum to the point that it crashed.
Basically something that he created for fun, people actually liked however, it's costing him money each and every month to keep it going. I don't want that to happen with Instafake.
Any donation that you send will be greatly appreciated and go directly to keeping the site running strong.</p>

<p class="faq"><b>How will my data and content be used.</b></p>
<p>Your content is safefly secured in AWS S3 storage that has strict encryption variable. Additionally, my programming chops only go so far. I wouldn't know how to do anything maliciously 
with the pics and content that you post. This site will not turn into a data mill.</p>

<p class="faq"><b>If you're not a programmer/developer professionally, what is your background?</b></p>
<p>By day I work as a Proposal Professional. By night, I code and create cool shit.</p>

<p class="faq"><b>I want to collaborate or become a partner, how can I get in contact?</b></p>
<p>Just hit me up on <a href="https://www.facebook.com/LawrenceMurry24">Facebook</a>.</p>

<p class="faq"><b>What project will you be working on next?</b></p>
<p>I'm working on tons of things all at once, which I know is not good. However, I run a personal finance blog, <a href="https://freshmurry.com">FreshMurry</a> that I'd really like to see that grow.</p>


<p>Let's network and foster key social and business relationships with the broader community.</p>

<!--<h1 ><span class="text-blue" style="font-weight: 700;">History Lesson</span></h1>-->